
span.content {

        display: block;
        width:auto;

}
span.usrname {

        display: inline-block;
        width:auto;
}

p.message {

        display: block;
        width: auto;
        min-width: 200px;
        background-color: azure;
        border: 2px solid;
        border-radius: 5px;
}