
a.content {

        font-size: 13pt;
        width:auto;

}
a.usrname {

        display: block;
        font-size: 10pt;
        width:auto;
}

p.message {

        display: block;
        width: auto;
        min-width: 200px;
        background-color: azure;
        border: 2px solid;
        border-radius: 5px;
}